//--------------------------------------------------------------
// Harmonium Reset Settings
//--------------------------------------------------------------

.color-primary {
	color: $color-primary;
}

.color-secondary {
	color: $color-secondary;
}

.color-tertiary {
	color: $color-tertiary;
}

section {
	border-bottom: none;
}

// Cleaning up some unreasonable sizes that Harmonium likes to put in place
// Will move these to a better, more global location later.
h1 {
	color: $primary;
	font-size: $global-font-size-larger;
	line-height: $global-lineheight;
	padding: $global-padding 0 0;
}

h2 {
	font-size: $global-font-size-larger;
	line-height: $global-lineheight;
	padding-top: $global-padding;
}

h3 {
	font-size: $global-font-size-large;
	line-height: $global-lineheight;
	padding-top: $global-padding-small;
}

h4 {
	font-size: $global-font-size-medium;
	line-height: $global-lineheight;
	padding-top: $global-padding-small;
}

h5 {
	font-size: $global-font-size-small;
	line-height: $global-lineheight;
	padding-top: $global-padding-small;
}

h6 {
	font-size: $global-font-size-smaller;
	line-height: $global-lineheight;
	padding-top: $global-padding-small;
}

li {
	padding: 0;
}

p {
	padding-bottom: 0;
	margin: 0 0 $global-margin 0;
}
