//--------------------------------------------------------------
//   COLOR VARIABLES
//     - Primary Colors
//     - Grayscale Colors
//     - Social Meida Colors
//   ELEMENTS & SKINNING
//     - General
//     - Accessibility
//     - Links
//     - Forms
//     - Buttons
//     - Tables
//     - Modals
//     - Icons
//     - Comments
//     - WP/Gutenberg Blocks
//     - Navigation
//     - Scaffolding
//     - Sass Map for Theme Colors
//     - Sass Map for Social Media Colors
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

// sass-lint:disable no-color-keywords

//--------------------------------------------------------------
// COLOR VARIABLES
//--------------------------------------------------------------

//-----------------------------------------
// Primary Colors
//-----------------------------------------
$color-primary:      $brand;
$color-secondary:    $brand-secondary;
$color-tertiary:     $brand-tertiary;

$color-black:        $black;
$color-blue:         #20739a;
$color-light-yellow: #fff9c0;
$color-white:        $white;

//-----------------------------------------
// Grayscale Colors
//-----------------------------------------
$color-whitesmoke:     $lightest-gray;
$color-gallery:        $lightest-gray;
$color-alto:           $lighter-gray;
$color-silver:         $light-gray;
$color-silver-chalice: $gray;

$color-gray-alt:       $gray;
$color-gray:           $gray;
$color-dove-gray:      $dark-gray;
$color-tundora:        $dark-gray;
$color-mineshaft:      $darker-gray;
$color-cod-gray:       $darker-gray;

//-----------------------------------------
// Social Media Colors
//-----------------------------------------
$color-facebook:  #3b5998;
$color-instagram: #517fa4;
$color-linkedin:  #007bb6;
$color-pinterest: #cb2027;
$color-rss:       #f90;
$color-twitter:   #00aced;
$color-youtube:   #b00;


//--------------------------------------------------------------
// ELEMENTS & SKINNING
//--------------------------------------------------------------

//-----------------------------------------
// General
//-----------------------------------------

/// Background color.
$color-background-body: $white;

/// Main text color.
$color-text-main: $body-font-color;

/// Pre Background color.
$color-background-pre: $lighter-gray;

/// Pre Border color.
$color-border-pre: $divider-color;

/// Pre text color.
$color-text-pre:  $gray;

/// Code background color.
$color-background-code: $darker-gray;

/// Horizontal Rule.
$color-background-hr: $divider-color;

/// Abbreviations.
$color-border-abbr: $divider-color;

/// Box shadows.
$color-box-shadow: rgba($black, 0.5);

/// Overlays.
$color-overlay: rgba($black, 0.3);


//-----------------------------------------
// Accessibility
//-----------------------------------------

/// Screen reader background color.
$color-background-screen-reader: $white;

/// Screen reader text color.
$color-text-screen-reader: $body-font-color;


//-----------------------------------------
// Links
//-----------------------------------------

/// Links.
$color-link: $anchor-color;

/// Visited Links.
$color-link-visited: $anchor-color;

/// Hovered Links.
$color-link-hover: $anchor-color-hover;

/// Focus LInks.
$color-link-focus: $anchor-color-active;


//-----------------------------------------
// Forms
//-----------------------------------------

/// Button background.
$color-background-button: $button-bkgd;

/// Button background on hover.
$color-background-button-hover: $button-bkgd-hover;

/// Button text.
$color-text-button: $button-color;

/// Input border.
$color-border-input: $divider-color;

/// Input focused color.
$color-focus-text-input: $input-color-focus;

/// Input text.
$color-text-input: $input-color;


//-----------------------------------------
// Buttons
//-----------------------------------------

/// CTA Link Color.
$color-cta-link: $button-color;


//-----------------------------------------
// Tables
//-----------------------------------------

/// Table borders.
$color-border-table: $divider-color;


//-----------------------------------------
// Modals
//-----------------------------------------

/// Modal Content Background.
$color-background-modal: $modal-content-bkgd;

/// Modal Close Background.
$color-background-modal-close: $darker-gray;

/// Modal Close Colors.
$color-modal-close: $white;


//-----------------------------------------
// Icons
//-----------------------------------------

/// Close Icon Background.
$color-background-icon-close: $darker-gray;

/// Down Arrow Background Color.
$color-background-down-arrow: $anchor-color;


//-----------------------------------------
// Comments
//-----------------------------------------

/// Comment border.
$color-border-comment: $divider-color;

/// Comment focus border.
$color-border-comment-focus: $darker-gray;

/// Comment even background.
$color-background-even: $lightest-gray;

/// Comment odd background.
$color-background-odd: $white;

/// Comment response background.
$color-comment-response: $white;

/// Comment meta links.
$color-meta-links: $anchor-color;

/// Comment post author background.
$color-background-author: $brand-secondary;


//-----------------------------------------
// WP/Gutenberg Blocks
//-----------------------------------------

/// Block button background.
$color-background-block-button: $button-bkgd;

/// BLock pullquote.
$color-border-block: $lightest-gray;


//-----------------------------------------
// Navigation Variables
//-----------------------------------------

/// Mobile menu link.
$color-mobile-menu-link: $anchor-color;

/// Hamburger background.
$color-background-hamburger: $topbar-bkgd;

/// Off-canvas Container Background.
$color-background-off-canvas: $topbar-bkgd;

/// Off-canvas Screen Background.
$color-background-off-canvas-screen: $black;

/// Submenu Background.
$color-background-submenu: $topbar-bkgd;


//-----------------------------------------
// Scaffolding
//-----------------------------------------

/// Scaffolding header border.
$color-border-scaffolding: $lightest-gray;

/// Scaffolding swatch border.
$color-border-scaffolding-swatch: $lightest-gray;

/// Scaffolding color.
$color-scaffolding: $lightest-gray;

/// Scaffolding background color.
$color-background-scaffolding: $white;

//-----------------------------------------
// Sass Map for Theme Colors
//-----------------------------------------

/// Sass map used for creating color presentational classes.
$theme-colors: (
	alto: $color-alto,
	black: $color-black,
	blue: $color-blue,
	cod-gray: $color-cod-gray,
	dove-gray: $color-dove-gray,
	gallery: $color-gallery,
	gray-alt: $color-gray-alt,
	gray: $color-gray,
	light-yellow: $color-light-yellow,
	mineshaft: $color-mineshaft,
	silver-chalice: $color-silver-chalice,
	silver: $color-silver,
	tundora: $color-tundora,
	white: $color-white,
	whitesmoke: $color-whitesmoke,
);

//-----------------------------------------
// Sass Map for Social Media Colors
//-----------------------------------------

/// Social media `$social-colors()` map
$social-colors: (
	facebook-square: $color-facebook,
	facebook: $color-facebook,
	instagram-square: $color-instagram,
	instagram: $color-instagram,
	linkedin-square: $color-linkedin,
	linkedin: $color-linkedin,
	pinterest-square: $color-pinterest,
	pinterest: $color-pinterest,
	rss-square: $color-rss,
	rss: $color-rss,
	twitter-square: $color-twitter,
	twitter: $color-twitter,
	youtube-square: $color-youtube,
	youtube: $color-youtube,
);
