//--------------------------------------------------------------
// Media Query Breakpoints and Grid Options
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

/// Larger HD Desktops.
$desktop-large: $xxlarge;

/// Standard Desktops and Larger Laptops.
$desktop: $xlarge;

/// Container width.
$container: $xlarge;

/// Container width, $contaner plus $gutter padding.
$container-offset: calc(#{$xlarge} + #{$grid-gutter});

/// Smaller Desktops and Standard iPad Tablet.
$tablet-landscape: $large;

/// Breakpoint for WP Admin Bar.
$wp-admin-bar: 783px;

/// Smaller Tablets and Standard iPad Portrait.
$tablet-portrait: $medium;

/// Phones Smaller Than 500px in Width.
$phone: 300px;

//-----------------------------------------
// Numeric values for padding/margin helper classes.
//-----------------------------------------
$spacing-options: 12, 24, 30, 42, 48, 72, 96;

//-----------------------------------------
// Default width of the gutters
// Used for padding on mobile.
//-----------------------------------------
$gutter: $grid-gutter;

//-----------------------------------------
// Spacer
// Utilized anywhere spacing is set.
//-----------------------------------------
$space: $global-horizontal-space;
