//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

/// Define sans font.
$font-sans: $global-sans-serif-font;

/// Define serif font.
$font-serif: $global-serif-font;

/// Define monospace font.
$font-code: $global-monospace-font;

/// Define pre font.
$font-pre: $global-monospace-font;

/// Define global line-height.
$line-height-body: $global-lineheight;

/// Define line-height for `<pre>`.
$line-height-pre: 1;
